.products-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.preview-title{
        text-align: center;
    }


.search-box{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-around;
    input{
        width:30vw;
        border-radius:50px;
        height: 30px;
        text-align:center;
    }
}